$colorYellow: rgb(254, 183, 49);
$colorGreen: rgb(179, 209, 67);
$colorGrey: rgb(232, 221, 202);
$colorText: rgb(109, 111, 113);
$colorTextArt: rgb(255, 255, 255);

.container {
  width: 970px;
  margin: 0 auto;
}

.img {
  width: 100%;
  height: 100%;
}





