/*Mise en place du block et des couleurs*/
$colorYellow: rgb(254, 183, 49);
$colorGreen: rgb(179, 209, 67);
$colorGrey: rgb(232, 221, 202);
$colorBrown: rgb(195, 168, 117);
$colorBlue: rgb(0, 175, 236);
$colorText: rgb(109, 111, 113);
$colorTextArt: rgb(255, 255, 255);


@media screen and (min-width: 970px) {
  .container {
    width: 970px;
    margin: 0 auto;
  }
}

.img {
  width: 100%;
  height: 100%;
}





