/*changment style d'un input type button*/
.btn {
  background-color: $colorText;
  color: $colorTextArt;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}

.btn-souscrire {
  background-color: $colorYellow;
  color: #000;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}